extends layout

block title
  title TSNE

block description
  meta(name='description', content='TSNE')

block extralinks
  link(rel='stylesheet', href=bd + '/stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")

block extrascripts
  script(src=bd + "/bower_components/randomcolor/randomColor.js")
  script(src=bd + "/javascripts/karpathy-tsne.js")
  script(src=bd + "/dist/streaming-tsne.js")
  script(src=bd + "/javascripts/index.js")

block content
  .cover#contentCover
    .container
      .row
        .col-md-12
          .infoCard
            .viewport
            .infoBody
              #cost
              button.btn.actionBtn#addPoints
                h1 Add Points
            .infoSubheadline
              include includes/github
